@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

.btn-primary {
  @apply bg-primary-600 text-white font-bold py-2 px-4 rounded hover:bg-primary-700 disabled:bg-primary-300;
}

.input-text {
  @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm;
}

.card {
  @apply bg-white shadow-md rounded-lg p-6;
}
